@import "./reset.scss";
@import "./slick-theme.scss";
@import "./slick.scss";
@import "../layout/header.scss";
@import "../layout/header-nav.scss";
@import "../layout/header-headerwrap-category.scss";
@import "../layout/header-headerwrap-others.scss";
@import "../layout/contents.scss";
@import "../layout/footer.scss";
body {
  min-width: 1020px;
}
// @import url(./reset.scss);
:root {
  --CPblue: #4285f4;
  --CPwoman: #f6699e;
  --CPman: #1992df;
  --CPfood: #ee9200;
  --CPinterior: #dd6641;
  --CPdigital: #5868be;
  --CPoffice: #97563e;
  --CPliving: #9d7a6d;
  --CPbeauty: #7e57c2;
  --CPsports: #83be41;
  --CPbaby: #00aad4;
  --CPbabyfashion: #00aab4;
  --CPkitchen: #62ab66;
  --CPpet: #ab47bc;
  --CPhobby: #3e8d86;
  --CPcar: #254e98;
  --CPbook: #b74b4b;
  --CPtravel: #00b599;
}
.sidenav {
  width: 353px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  font-size: 90px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}
