#contents {
  position: relative;
  .desWrap {
    background: #fafafa;
    height: 450px;
    .desPosition {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: red;
      .desSlideshow {
        background-image: url(../images/loading.gif);
        background-position: center center;
        background-repeat: no-repeat;
        .switchBigPic,
        .nav {
          display: none;
          a {
            &:hover {
              border: 1px solid var(--CPblue);
            }
          }
        }
      }
    }
  }
  .recommend {
    width: 100%;
    height: auto;
    min-width: 1020px;
    .recommendWrap {
      position: relative;
      width: 980px;
      height: auto;
      margin: 0 auto;
      .logo {
        width: 355px;
        height: 33px;
        background-position: 0px -63px;
        margin: 41px 0 0 0;
        h2 {
          text-indent: -9999px;
        }
      }
      .pannel {
        border: 1px solid #ddd;
        position: relative;
        padding: 3px 0 13px 4px;
        margin-top: 20px;

        .items {
          height: 300px;
          float: left;
          position: relative;
          margin: 10px 2px 0 10px;
          background: #fff;
          img {
            width: 100%;
          }
          .mask {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 1px;
            left: 0;
            border: 1px solid #d6d6d6;
            .goItem {
              width: 40px;
              height: 40px;
              position: absolute;
              left: 20px;
              bottom: 20px;
              background-position: -515px -236px;
            }
            &:hover {
              border: 1px solid var(--CPblue);
              cursor: pointer;
            }
            &:hover .goItem {
              //   display: none;
              width: 100px;
              background-position: -565px -236px;
            }
          }
        }
      }
      .side {
        position: absolute;
        right: -130px;
        top: 5px;
        margin: 40px 0 0 495px;
        cursor: pointer;

        .contentsImg2 {
          width: 102px;
          height: 33px;
          overflow: hidden;
        }
        .my {
          position: relative;
          line-height: 1px;
          width: 102px;
          p {
            text-indent: -9999px;
          }
          .count {
            float: right;
            padding: 0 14px 0 0;
            height: 33px;
            line-height: 33px;
            font-weight: bold;
            font-size: 12px;
            color: var(--CPblue);
          }

          .basket {
            background-position: -31px 0;
            cursor: pointer;
            &:hover {
              background-position: -31px -33px;
            }
          }
          .recentlyItem {
            background-position: -31px -66px;
            cursor: default;
          }
          .basketShow {
            height: 340px;
            border: 1px solid #c0c0c0;
            padding: 10px;
            &:hover {
              cursor: default;
            }
            div {
              height: 10px;
              padding-top: 168px;
              line-height: 15px;
              text-align: center;
              color: #929292;
              font-size: 11px;
              text-decoration: none;
              font-style: normal;
              &:hover {
                cursor: text;
              }
            }
          }
        }
      }
    }
  }
  .cateRecommend {
    .recommendWrap {
      .logo {
        width: 290px;
        height: 52px;
        background-position: 0 -123px;
        margin-bottom: 20px;
      }
      .cateWrap {
        position: relative;
        height: 600px;
        border-bottom: 1px solid #ddd;
        .leftside {
          position: absolute;
          .logo {
            position: absolute;
            top: 0;
            left: 0;
            .goLink {
              display: block;
              font-size: 11px;
              color: #888888;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .hotKeyword {
            position: absolute;
            display: inline-block;
            overflow: hidden;
            bottom: -575px;
            width: 124px;
            h2 {
              font-size: 16px;
              font-weight: 700;
            }
            .keyword {
              float: left;
              clear: left;
              display: block;
              line-height: 28px;
              padding: 0 10px;
              margin-top: 6px;
              border: 1px solid #ccc;
              white-space: nowrap;
              font-size: 12px;
              a {
                font-size: 12px;
                color: var(--CPwoman);
              }
              &:hover {
                background-color: var(--CPwoman);
                a {
                  color: white;
                }
              }
            }
          }
        }
        .slider {
          position: absolute;
          left: 120px;
          top: 14px;
          width: 324px;
          .slide {
            img {
              display: block;
              // height: 600px;
            }
          }
          .slick-dots {
            position: absolute;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 1rem 0;
            list-style-type: none;
            bottom: 0;
            // top: 0;
          }
          .slick-arrow {
            display: inline-block;
            position: relative;
            top: 220px;
            z-index: 500;
            color: #fff;
            font-size: 20px;
          }
          .slick-prev,
          .slick-next {
            font-size: 0;
            position: absolute;
            color: #fff;
            border: 0;
            background: none;
            z-index: 1;
            top: 298px;
            cursor: pointer;
            width: 30px;
            height: 50px;
            background: url(/public/src/resources/images/hot/icon.png);
            background-size: 100px 363px;
            opacity: 0;
          }
          .slick-prev {
            left: 0;
            background-position: 0px -13px;
          }

          .slick-next {
            right: 0;
            background-position: -50px -13px;
          }
          .slick-slider:hover .slick-prev,
          .slick-slider:hover .slick-next {
            opacity: 1;
          }
          .subject {
            position: absolute;
            margin: 465px 0 0 22px;
            padding: 20px 22px 0;
            width: 237px;
            height: 60px;
            background-color: var(--CPwoman);
            opacity: 0.9;
            color: white;
            text-align: center;
            line-height: 15px;
          }
          .top {
            margin-bottom: 8px;
            font-size: 16px;
          }
          .bottom {
            font-size: 12px;
          }
        }
        .slider_six {
          width: 550px;
          position: absolute;
          top: 37px;
          right: -14px;
          &::after {
            content: "";
            position: absolute;
            width: 536px;
            border-bottom: 1px solid #ddd;
            top: 260px;
            left: 0px;
          }
          .slick-arrow {
            display: inline-block;
            position: relative;
            top: 220px;
            z-index: 500;
            color: #fff;
            font-size: 20px;
          }
          .slick-prev,
          .slick-next {
            font-size: 0;
            position: absolute;
            color: #fff;
            border: 0;
            background: none;
            z-index: 1;
            top: 275px;
            cursor: pointer;
            width: 30px;
            height: 50px;
            background: url(/public/src/resources/images/hot/icon.png);
            background-size: 100px 363px;
            opacity: 0;
          }
          .slick-prev {
            left: 0;
            background-position: 0px -13px;
          }

          .slick-next {
            right: 0;
            background-position: -50px -13px;
          }
          .slick-slider:hover .slick-prev,
          .slick-slider:hover .slick-next {
            opacity: 1;
          }
          a {
            text-decoration: none;
            color: black;
          }
          .slick-slide {
            .wrap {
              padding-left: 10px;
              padding-bottom: 70px;
              padding-top: 5px;
            }
          }
          span {
            display: block;
          }
          .slick-dots {
            position: absolute;
            bottom: 13px;
            display: inline-block;
            overflow: hidden;
            width: 124px;
            left: 40%;
          }
          .title {
            margin-top: 3px;
            line-height: 16px;
            width: 168px;
            font-size: 11px;
            text-decoration: none;
            height: 28px;
            overflow: hidden;
            line-height: 14px;
            margin: 6px 0 1px;
            &:hover {
              color: var(--CPblue);
              text-decoration: underline;
            }
          }
          .price {
            vertical-align: -1px;
            font-size: 14px;
            font-family: "Tahoma";
          }
        }
      }
      .WrapMargin {
        margin-top: 20px;
      }
      .WomanWrap {
        border-top: 2px solid var(--CPwoman);
      }
      .manWrap {
        border-top: 2px solid var(--CPman);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPman);
              }
              &:hover {
                background-color: var(--CPman);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPman);
          }
        }
      }
      .foodWrap {
        border-top: 2px solid var(--CPfood);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPfood);
              }
              &:hover {
                background-color: var(--CPfood);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPfood);
          }
        }
      }
      .interiorWrap {
        border-top: 2px solid var(--CPinterior);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPinterior);
              }
              &:hover {
                background-color: var(--CPinterior);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPinterior);
          }
        }
      }
      .digitalWrap {
        border-top: 2px solid var(--CPdigital);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPdigital);
              }
              &:hover {
                background-color: var(--CPdigital);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPdigital);
          }
        }
      }
      .officeWrap {
        border-top: 2px solid var(--CPoffice);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPoffice);
              }
              &:hover {
                background-color: var(--CPoffice);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPoffice);
          }
        }
      }
      .livingWrap {
        border-top: 2px solid var(--CPliving);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPliving);
              }
              &:hover {
                background-color: var(--CPliving);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPliving);
          }
        }
      }
      .beautyWrap {
        border-top: 2px solid var(--CPbeauty);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPbeauty);
              }
              &:hover {
                background-color: var(--CPbeauty);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPbeauty);
          }
        }
      }
      .sportsWrap {
        border-top: 2px solid var(--CPsports);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPsports);
              }
              &:hover {
                background-color: var(--CPsports);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPsports);
          }
        }
      }
      .babyWrap {
        border-top: 2px solid var(--CPbaby);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPbaby);
              }
              &:hover {
                background-color: var(--CPbaby);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPbaby);
          }
        }
      }
      .babyFashionWrap {
        border-top: 2px solid var(--CPbabyfashion);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPbabyfashion);
              }
              &:hover {
                background-color: var(--CPbabyfashion);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPbabyfashion);
          }
        }
      }
      .kitchenWrap {
        border-top: 2px solid var(--CPkitchen);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPkitchen);
              }
              &:hover {
                background-color: var(--CPkitchen);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPkitchen);
          }
        }
      }
      .petWrap {
        border-top: 2px solid var(--CPpet);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPpet);
              }
              &:hover {
                background-color: var(--CPpet);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPpet);
          }
        }
      }
      .hobbyWrap {
        border-top: 2px solid var(--CPhobby);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPhobby);
              }
              &:hover {
                background-color: var(--CPhobby);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPhobby);
          }
        }
      }
      .carWrap {
        border-top: 2px solid var(--CPcar);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPcar);
              }
              &:hover {
                background-color: var(--CPcar);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPcar);
          }
        }
      }
      .bookWrap {
        border-top: 2px solid var(--CPbook);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPbook);
              }
              &:hover {
                background-color: var(--CPbook);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPbook);
          }
        }
      }
      .travelWrap {
        border-top: 2px solid var(--CPtravel);
        .leftside {
          .hotKeyword {
            .keyword {
              a {
                color: var(--CPtravel);
              }
              &:hover {
                background-color: var(--CPtravel);
              }
            }
          }
        }
        .slider {
          .subject {
            background-color: var(--CPtravel);
          }
        }
      }
    }
  }
}
